.title{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin-left: 2%;
}
.title1{
  font-family: "Inter", sans-serif;
  color: #ffffff;
  margin-left: 2%;
}
.title2{
  font-family: "Inter", sans-serif;
  color: #ffffff;
  margin-left: 2%;
  margin-top: 2%;
}
.lineSearch{
    width: 90%; 
  height: 1px; 
  background-color:  #ffffff; 
  display: block;
  align-items: center;
  margin-left: 3%;
}