* {
  font-family: "Inter", sans-serif;
}
.data {
  margin-top: -105%;
}
.title {
  color: white;
  display: flex;
  font-size: 30px;
  margin: 0% 2%;
}
.general {
  display: flex;
}
.yourmessage {
  margin-left: 45%;
  width: 50%;

  margin-right: 5%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .yourmessage {
    display: none;
  }
  .data {
    margin-top: 1px;
  }
}
@media screen and (max-width: 767px) {
  .yourmessage {
    display: none;
  }
  .data {
    margin-top: 1px;
  }
}
