/* Default styles for screens wider than 1023px */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 29%;
  border-radius: 15px;
  background: #f0fe6d;
  margin: 1%;
  padding: 1% 1.5%;
}

.imgUser {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.audioContainer {
  width: 50%;
  display: flex;
  align-items: center;
}

.audioImg {
  width: 100%;
}

/* Medium screen styles (min-width: 768px, max-width: 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 48%;
    margin: 2%;
    padding: 3%;
  }

  .imgUser {
    width: 47px;
    height: 47px;
  }

  .audioContainer {
    width: 60%;
  }

  .audioImg {
    width: 100%;
  }
}

/* Small screen styles (max-width: 767px) */
@media screen and (max-width: 767px) {
  .container {
    width: 86%;
    margin: 3%;
    padding: 3% 5%;
  }

  .imgUser {
    width: 47px;
    height: 47px;
  }

  .audioContainer {
    width: 80%;
  }

  .audioImg {
    width: 100%;
  }
}
