/* Default styles for screens wider than 1023px */
* {
  font-family: "Inter", sans-serif;
}

.user {
  width: 7%;
  border-radius: 50%;
  border: 3px solid #b8fe67;
  margin-bottom: 10px;
}

.user-profile {
  font-size: 25px;
  color: white;
  margin: 0%;
}

.user-at {
  color: #a1a1a1;
  margin: 0%;
}

.container-secondline {
  display: flex;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.user-link {
  font-weight: 700;
  color: #b8fe67;
}

.user-description {
  color: white;
  margin-left: 5px;
}

.button-profile {
  padding: 15px 5px;
  width: 20%;
  font-size: 15px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: white;
  margin-bottom: 3%;
}

.containerButton {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Medium screen styles (min-width: 768px, max-width: 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Add your medium screen styles here */
  .user-profile {
    font-size: 20px;
  }

  .user {
    width: 15%;
    border-radius: 50%;
    border: 3px solid #b8fe67;
    margin-bottom: 10px;
  }

  .button-profile {
    width: 25%;
  }

  .container-secondline {
    display: flex;
    align-items: center;
    padding: 0%;
  }
}

/* Small screen styles (max-width: 767px) */
@media screen and (max-width: 767px) {
  /* Add your small screen styles here */
  .user {
    width: 20%;
    border-radius: 50%;
    border: 3px solid #b8fe67;
    margin-bottom: 10px;
  }

  .user-profile {
    font-size: 18px;
  }

  .button-profile {
    width: 40%;
  }

  .container-secondline {
    display: flex;
    align-items: center;
    padding: 0%;
  }
}
