* {
  font-family: "Inter", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0% 35%;
}

label {
  color: white;
  font-weight: 200;
}

input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  opacity: 0.2;
  padding: 8px;
  margin: 8px 0;
}

input::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-size: 15px;
}

button {
  padding: 20px 5px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: white;
  margin-bottom: 3%;
}

h1 {
  color: white;
  margin-left: 40%;
  margin-bottom: 3%;
  margin-top: 2%;
}

p {
  color: white;
  margin: 1% 35%;
  margin-bottom: 3%;
  font-size: 18px;
  font-weight: 200;
}
