/* Default styles for screens wider than 1023px */
* {
    font-family: "Inter", sans-serif;
  }
* .time{
    color:rgba(0, 0, 0, 0.30);
}

  .container { 
    display: flex;
    align-items: center;
    width: 35%;
    border-radius: 20px;
    background: #ffffff;
    margin: 1%;
    padding: 3% 2%;
   
  }
  
  .userMessage {
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
  }
  
  .user {
    font-size: 12px;
  }
  
  .message {
    font-size: 15px;
    height: 20px;
    flex: 1;
    margin-right: 10px
  }
  
  img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .messageXtime{
    display: flex;
    margin: 0%;
   }

  .container2{
    width: 65%;
    background-color: #ffffff;
    height: 100%;
  }

  .containerXcontainer2{
    display: flex;
    margin: 0%;
  }
  
  /* Medium screen styles (min-width: 768px, max-width: 1023px) */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      width: 90%;
      margin: 2%;
      padding: 2%;
    }
  
    .user {
    
      font-size: 12px;
    }
  
    .message {
      font-size: 15px;
      height: 20px;
      flex: 1;
      margin-right: 10px
    }
  
    img {
      width: 47px;
      height: 47px;
    }

    .messageXtime{
      display: flex;
      margin: 0%;
     }
    .container2{
      display: none;
    }
  }
  
  /* Small screen styles (max-width: 767px) */
  @media screen and (max-width: 767px) {
    .container {
      width: 90%;
      margin: 2%;
      padding: 2%;
    }
  
    .user {
      font-size: 12px;
      height: 20px;
      
    }
  
    .message {
      font-size: 15px;
      height: 12px;
      flex: 1;
      margin-right: 10px

    }
  
    img {
      width: 47px;
      height: 47px;
    }

   .messageXtime{
    display: flex;
    margin: 0%;
   }
   
  }
  